<nav class="navbar navbar-light navbar-fixed topnavba  justify-content-between" >
        <a href="/" class="navbar-brand mb-0 h1 text-light">Anime/Manga Info...</a>
        


    <!-- <ul class="nav navbar-nav" >
            <li class="text-right"><a href="/login">Login</a></li>
            
            
          </ul> -->
          <div class="text-right">
                <form action="/search?source=hp" method="post" id="search-form" class="form-inline">

                  <div class="form-group">
                    
                    <select name="cat" class="form-control" id="cat">
                      <option value="anime">Anime</option>
                      <option value="manga">Manga</option>
                    </select>
                  </div>



                  <input class="form-control mr-sm-2" type="search" placeholder="Search...." aria-label="Search" name="animeSearch">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        
<!--             //Make a login register, and a place to store favorites

          <div class="text-right">
              
                  <a href="/login">Login</a>
                  <a href="/Register">Register</a>
                
           </div> -->
        </nav>

          
        


