<% include head %>

<% include navbar %>

  <body>
    <div class = "container">
        <div class = "row">
          <div class = "col col-12">
              <h1 class="text-center">Manga Results</h1>
          </div>
              <!-- We have an array, its parsed data -->
              <% parsedData.forEach((manga, i) =>{  %>
                  <div class= "col col-3-lg-3 col-md-4 col-xs-12 poster">
                    <a href="/manga/<%= manga.mal_id %>">
                    <img src="<%=  manga.image_url %>" />
                    </a>
                    <p class = 'title'><strong>
                    <%= manga.title %>
                  </strong>
                    </p>
                  </div>
                <% }) %>

          </div>


        </div>

  </body>
</html>
